@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 200px;
  width: 100%;
  /*background-color: linear-gradient(#51087c, #51087c 60%, #51087c);*/
  /* background-color: #580348;*/
  background-color: #51087c;
}


ul.navbar2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #51087c;
  bottom: 0;
  width: 100%;
  height: 40px;
  
  
 /* width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;*/
}

p {
  color:#fdf3ff; 
  font-size: 18px; 
}

/*

body {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}*/

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: #fdf3ff;
  margin-top:160px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #fdf3ff;
  color: #51087c;
}

/*--------------------------------------*/

ul.navbar2 li {
  float: left;
}
ul.navbar2 p {
  float: left;
    color:#fdf3ff; 
  font-size: 18px; 
}

ul.navbar2 li a {
  display: block;
  color: #fdf3ff;
  margin-top:160px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar2 li a:hover {
  background-color: #fdf3ff;
  color: #51087c;
}


img.logo {
  vertical-align: left; /* Align the image vertically in the navigation bar */
  height: 10px; /* Adjust the height of the image as needed */
  margin-right: 20px; /* Add margin to separate the image from the navigation links */
}

.icon-image {
  position: absolute;
  top: 35px;
  left: 40px;
  height: 130px; /* Adjust the height of the image as needed */
  width: 130px;
}

.client-info {
  position: absolute;
  top: 10px; 
  right: 10px; 
  text-align: left;
}

p {
  color:#fdf3ff; 
  font-size: 18px; 
}
a{
color:#5b3dce; 
}

.home-icon{
  position: absolute;
  top: 120px;
  left: 30px;
  height: 25px; 

}
h1 {
  color: #5b3dce; 
  font-size: 25px; 
  margin-left: 65px;
  margin-top: 120px;
}

/* body {
  font-family: "lato", sans-serif;
} */

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}



img:hover {
  background-color: #fff;
  }
  
/* ///////////////////////////NAVBAR///////////////////////////////////// */

  p {
    color: rgb(6, 6, 113); 
    font-size: 18px; 
  }
*{
  box-sizing:border-box;
  /* font-family: 'Space Mono', monospace; */
}


/* body, html{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}*/
body{
  /* background-image: url("background2.png");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #81d1c0;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center; */
   /* background-image: linear-gradient(to right top, #a2beeb, #8ecfee, #8edde5, #a4e7d5, #c7eec7); */
  flex-direction: column;
  -webkit-flex-direction: column;
  margin: 0;

  padding: 0;

  min-height: 100vh;

  display: flex;
/* 
  align-items: center;

  justify-content: center;   */

  /* font-family: sans-serif; */

  background-color: #f1f1f1; 

} 

/* body{
  background-image: linear-gradient(to right top, #a2beeb, #8ecfee, #8edde5, #a4e7d5, #c7eec7);
} */

.title {
    margin-bottom: 30px;
    color: #162969;
}


.card{
width: 320px;
height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective:600px;
   margin-left: 450px;
  /* margin-top: 100px;  */
  position: relative;
}

.card__part{
  box-shadow: 1px 1px #aaa3a3;
    top: 0;
  position: absolute;
z-index: 1000;
  left: 0;
  display: inline-block;
    width: 320px;
    height: 190px;
    background-image: url('https://image.ibb.co/bVnMrc/g3095.png'), linear-gradient(to right bottom, #fd696b, #fa616e, #f65871, #f15075, #ec4879); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
   
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.card__front{
  padding: 18px;
-webkit-transform: rotateY(0);
-moz-transform: rotateY(0);
}

.card__back {
  padding: 18px 0;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
}

.card__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}

.card__logo {
    height: 16px;
}

.card__front-logo{
      position: absolute;
    top: 18px;
    right: 18px;
}
.card__square {
    border-radius: 5px;
    height: 30px;
}

.card_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card__space-75 {
    width: 75%;
    float: left;
}

.card__space-25 {
    width: 25%;
    float: left;
}

.card__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
}

.card__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card__back-content {
    padding: 15px 15px 0;
}
.card__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
}

.card__secret {
    padding: 5px 12px;
    background-color: #fff;
    position:relative;
}

.card__secret:before{
  content:'';
  position: absolute;
top: -3px;
left: -3px;
height: calc(100% + 6px);
width: calc(100% - 42px);
border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.card:hover .card__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

}

.card:hover .card__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}


.container {
  width: 80%;
  height: 450px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  align-items: center;
  position: relative;
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px 12px;
  height: 100px;
  width: 200px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color:lightsalmon;
  border: 1px solid rgba(22, 75, 167, 0.427);
  border-radius: 10px;
  color: lightsalmon;
  font-weight: 400;
  font-size: 20px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);


}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}



.btn-pill {
  &:before, &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #1d89ff;
    content: '';
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
    position: relative;
  }
  &:hover {
    &:before, &:after {
      opacity: 0.15;
      transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    }
    &:before {
      transform: translate3d(50%, 0, 0) scale(0.9);
    }
    &:after {
      transform: translate(50%, 0) scale(1.1);

    } 
   
  }
}
.btn-pill :hover{



  .dropdown {
    position: absolute;
    top: 20px;
    right: 0;
    width: 600px;
    background-color: #67a381;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
    z-index: 1;
  }
  
  .dropdown a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown{
    display: block;
  }
}
/* .btn-pill:hover .dropdown {
  position: absolute;
  top: 20px;
  right: 0;
  width: 600px;
  background-color: #67a381;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none;
  z-index: 1;
}

.btn-pill:hover .dropdown a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.btn-pill:hover .dropdown {
  display: block;
} */
.btn-pill:hover + .dropdown {
  position: absolute;
  top: 20px;
  right: 0;
  width: 600px;
  background-color: #67a381;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none;
  z-index: 1;
}

.btn-pill:hover + .dropdown p {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.btn-pill:hover + .dropdown {
  display: block;
}
/* NEWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW */
