ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #51087c;
  }

  ul.navbar li {
    float: left;
  }

  ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.navbar li a:hover {
    background-color: #02062c;
  }
  img.logo {
    vertical-align: right; /* Align the image vertically in the navigation bar */
    height: 30px; /* Adjust the height of the image as needed */
    margin-right: 20px; /* Add margin to separate the image from the navigation links */
  }
  /* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 300px;
    width: 500px;
    border: 3px solid rgb(2, 35, 94);
    padding: 30px;
    background-color: #f0f9fd;
    border-radius: 10px;
  } */

  .container {
    background-color: #fff;
    border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
    position: center;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 375px;
  }

  h1 {
    color: rgb(6, 6, 113); 
    font-size: 35px; 
    margin-left: 375px;
    margin-top: 20px;
  }

  Input {
    color: rgb(97, 97, 97); 
    font-size: 20px; 
  }

  select {
    color: rgb(97, 97, 97); 
    font-size: 20px; 
  }
  table {
    width: 750px;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 10px;
  }

  th, td {
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #ffffff;
    font-size: 25px;
  }
  body{
    background-color: #ffffff;
  }
  th{
    color: rgb(6, 6, 113); 
  }
  .client-info {
    position: absolute;
    margin-top: 20px;
    top: 20px; 
    right: 10px; 
    text-align: left;
  }

  p {
    color: rgb(6, 6, 113); 
    font-size: 18px; 
  }
 

  .form-container {
    position: center;
    top: 0;
    height: 50%;
    transition: all 0.6s ease-in-out;
  }

  .sign-in-container {
    position: center;
    left: 0;
    width: 50%;
    z-index: 2;
  }

  button {
    border-radius: 20px;
    border: 1px solid #150c69;
    background-color: #14098c;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 10px;
  }

  button:active {
    transform: scale(0.95);
  }

  button:focus {
    outline: none;
  }

  button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
  }

  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-right {
    right: 0;
    transform: translateX(0);
  }
