ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #51087c;
    height: 200px;
    width: 100%;
  }

  
  ul.navbar2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #51087c;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
  }

  ul.navbar li {
    float: left;
  }

  ul.navbar li a {
    display: block;
    color: #fdf3ff;
    margin-top:160px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.navbar li a:hover {
    background-color: #fdf3ff;
    color: #51087c;
  }
  img.logo {
    vertical-align: left; /* Align the image vertically in the navigation bar */
    height: 10px; /* Adjust the height of the image as needed */
    margin-right: 20px; /* Add margin to separate the image from the navigation links */
  }

  .icon-image {
    position: absolute;
    top: 35px;
    left: 40px;
    height: 130px; /* Adjust the height of the image as needed */
    width: 130px;
  }

  .client-info {
    position: absolute;
    top: 10px; 
    right: 10px; 
    text-align: left;
  }

  p {
    color:#fdf3ff; 
    font-size: 18px; 
  }
a{
  color:#5b3dce; 
}
  
.home-icon{
    position: absolute;
    top: 120px;
    left: 30px;
    height: 25px; 

  }
  h1 {
    color: #5b3dce; 
    font-size: 25px; 
    margin-left: 65px;
    margin-top: 120px;
  }

  body {
    font-family: "lato", sans-serif;
  }
  
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  h2 small {
    font-size: 0.5em;
  }
  
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .responsive-table .col-1 {
    flex-basis: 10%;
  }
  .responsive-table .col-2 {
    flex-basis: 40%;
  }
  .responsive-table .col-3 {
    flex-basis: 25%;
  }
  .responsive-table .col-4 {
    flex-basis: 25%;
  }
  @media all and (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      flex-basis: 100%;
    }
    .responsive-table .col {
      display: flex;
      padding: 10px 0;
    }
    .responsive-table .col:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }