ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 200px;
  width: 100%;
  /*background-color: linear-gradient(#51087c, #51087c 60%, #51087c);*/
  /* background-color: #580348;*/
  background-color: #51087c;
}


ul.navbar2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #51087c;
  bottom: 0;
  width: 100%;
  height: 40px;
  
  
 /* width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;*/
}

p {
  color:#fdf3ff; 
  font-size: 18px; 
}

/*

body {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}*/

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: #fdf3ff;
  margin-top:160px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #fdf3ff;
  color: #51087c;
}

/*--------------------------------------*/

ul.navbar2 li {
  float: left;
}
ul.navbar2 p {
  float: left;
    color:#fdf3ff; 
  font-size: 18px; 
}

ul.navbar2 li a {
  display: block;
  color: #fdf3ff;
  margin-top:160px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar2 li a:hover {
  background-color: #fdf3ff;
  color: #51087c;
}


img.logo {
  vertical-align: left; /* Align the image vertically in the navigation bar */
  height: 10px; /* Adjust the height of the image as needed */
  margin-right: 20px; /* Add margin to separate the image from the navigation links */
}

.icon-image {
  position: absolute;
  top: 35px;
  left: 40px;
  height: 130px; /* Adjust the height of the image as needed */
  width: 130px;
}

.client-info {
  position: absolute;
  top: 10px; 
  right: 10px; 
  text-align: left;
}

p {
  color:#fdf3ff; 
  font-size: 18px; 
}
a{
color:#5b3dce; 
}

.home-icon{
  position: absolute;
  top: 120px;
  left: 30px;
  height: 25px; 

}
h1 {
  color: #5b3dce; 
  font-size: 25px; 
  margin-left: 65px;
  margin-top: 120px;
}

body {
  font-family: "lato", sans-serif;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.networth{
  position: absolute;
  
  
}

.blank-row {
  height: 20px; /* Adjust the height as needed */
}

/* h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  color:#fdf3ff; 
} */
h3 {
  font-size: 15px;
  text-align: right;
  color:#5b3dce; 
  margin-top: 130x;
  padding: 25px 30px;
  right: 50px;  
}

h4 {
  font-size: 20px;
  text-align: right;
  color:#5b3dce; 
  padding: 25px 30px;
  position: absolute;
  top: 220px;  
  right:   2px; 
  height:    80px;   }

  h5 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color:#e0aad6; 
    padding: 25px 30px;
    position: absolute;
    top: 270px;  
    left:   20px; 
    height:    80px;   }

  header {
      font-size: 15px;
      text-align: left;
      font-weight: bold;
      color:#e0aad6; 
      padding: 25px 30px;
      position: absolute;
      top: 310px;  
      right:   130px; 
      height:    80px;   }

  h6 {
    font-size: 20px;
    text-align: left;
    color:#e0aad6; 
    padding: 25px 30px;
    position: absolute;
    top: 180;  
    left:   20px; 
    height:    80px; 
  margin-top: -55px; 
 }

  h7 {
    font-size: 20px;
    text-align: left;
    color:#e0aad6; 
    padding: 25px 30px;
    position: relative;
    font-weight: bold;
    top: -10px;  
    left:-30px; 
    height: 80px; 
  }

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  font-weight: bold;
  flex-basis: 10%;
}
.responsive-table .ha {
  font-weight: bold;
  flex-basis: 10%;
}
.responsive-table .colBetween {
  color:#ffffff;
  flex-basis: 25%;
}
.responsive-table .col-2 {
  flex-basis: 25%;
}
.responsive-table .col-3 {
  flex-basis: 25%;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

























.box-content {
  display: none;
  text-align: right;
  border: 1px solid rgb(68, 0, 55);
  padding: 10px;
  background-color: #f1f1f1;
}

  










img:hover {
background-color: #fff;
}

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e0aad6;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown {
    position: absolute;
    top: 10px;
    right: 0;
    width: 150px;
    background-color: #67a381;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
    z-index: 1;
  }
  
  .dropdown a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
  
  }
  
  
 

