ul.navbar {
    list-style-type: none;
    /* margin-top: -100px; */
    /* position: sticky; */
     top: 0;
    padding: 0;
    overflow: hidden;
    height: 200px;
    width: 100%;
    /*background-color: linear-gradient(#51087c, #51087c 60%, #51087c);*/
    /* background-color: #580348;*/
    background-color:#51087c;
  }
  ul.navbar li {
    float: left;
  }
  
  ul.navbar li a {
    display: block;
    color: #fdf3ff;
    margin-top:160px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.navbar li a:hover {
    background-color: #fdf3ff;
    color: #51087c;
  }
  img.logo {
    vertical-align: left; /* Align the image vertically in the navigation bar */
    height: 10px; /* Adjust the height of the image as needed */
    margin-right: 20px; /* Add margin to separate the image from the navigation links */
  }
  
  .icon-image {
    position: absolute;
    top: 35px;
    left: 40px;
    height: 130px; /* Adjust the height of the image as needed */
    width: 130px;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    display: grid;
    place-items: center;
    align-items: flex-end;
    margin-top: 100px;
    /* margin-right: 50px;
    margin-left: 500px; */
  }

  button {
    position: relative;
    background: #000000;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    width: 200px; /* Set the desired width for all buttons */
    transition: 0.2s;
    margin-bottom: 10px;
  }

  button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    animation: box 3s infinite;
  }

  button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #ffffff;
  }

  button span {
    position: relative;
    z-index: 1;
  }

  button i {
    position: absolute;
    inset: 0;
    display: block;
  }

  button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }

  button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }

  button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }

  button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }

  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }