.menu{
    height: 50px;
    width: 100%;
    background-color: #51087c;
    position: absolute;
    float: left;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #51087c;
    height: 200px;
    width: 100%;
  }
  ul.navbar li {
    float: left;
  }
ul.sidebar li{
      float: left;

}
  ul.navbar li a, ul.menu li a {
    display: block;
    color: #fdf3ff;
    margin-top:160px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.navbar li a:hover {
    background-color: #fdf3ff;
    color: #51087c;
  }
  img.logo {
    vertical-align: left; /* Align the image vertically in the navigation bar */
    height: 10px; /* Adjust the height of the image as needed */
    margin-right: 20px; /* Add margin to separate the image from the navigation links */
  }

  .icon-image {
    position: absolute;
    top: 35px;
    left: 40px;
    height: 130px; /* Adjust the height of the image as needed */
    width: 130px;
  }

/* ////////////////////////////////////////////////// */
.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
  }
  
  .container {
    display: none;
    padding: 10px;
    background-color: #f1f1f1;
    position:50% 50%;
  }
  
  input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
  }
  input[type=checkbox]:focus {
    outline: 0;
  }
  
  .toggle {
    height: 22px;
    width: 42px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid #474755;
    background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
    transition: all 0.2s ease;
  }
  .toggle:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 19px;
    height: 18px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
  }
  .toggle:checked {
    border-color: #654FEC;
  }
  .toggle:checked:after {
    transform: translatex(20px);
  }

  .note{
    color: black;
  }

  .table{
    position: center;
  }
  